{% extends "base.html" %}

{% block content %}


<table border="1" class="table">
	<thead>
		<tr>
			<th>name</th>
			<th>actions</th>
			<th>Expenses</th>
		</tr>
	</thead>
	<tbody>
		{% for obj in object_list %}
		<tr>
			<td>
				{{obj.name}}
			</td>
			<td>
				<a href="{% url 'expenses:category-delete' obj.id %}">delete</a>
				<a href="{% url 'expenses:update-category' obj.id %}">Update</a>
			
			</td>
			<td>
				{{obj.amount}}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>



{% endblock %}
