{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}



<center>
<form method="GET" action="">
	{%csrf_token%}
	{{form.as_p}}
  <button type="submit">search</button>
</form>
</center>

<br>

	<table border="1" class="table table-bordered table-striped text-center" >
		<caption>Expenses</caption>
		<thead>
		<tr>
			<th>no.</th>
			<th>category</th>
			<th>name</th>
			<th>amount</th>
			<th>date</th>
			<th>actions</th>
		</tr>
		</thead>
		<tbody>

		{% for obj in object_list %}
		<tr>
			<td>{{ page_obj.start_index|add:forloop.counter0 }}.</td>
			<td>{{ obj.category|default:"-" }}</td>
			<td>{{ obj.name|default:"-" }}</td>
			<td>{{ obj.amount|floatformat:2 }}</td>
			<td>{{obj.date|date:"Y-M-d" }}</td>
			<td>
			<a  href="{% url 'expenses:expense-edit' obj.id %}">Edit</a>
			<a  href="{% url 'expenses:expense-delete' obj.id %}">delete</a>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="5">no items</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

	<table class="table table-striped">
        <caption>Summary per year-month</caption>
		<thead class="thead-dark">
			<tr>
				<th>Year:</th>
				<th>Month:</th>
				<th>Total:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				{% for date, total in summary_per_month_year.items %}
					<tr>
						<td>{{ date.year }}:</td>
						<td>{{ date.month }}:</td>
						<td>{{ total|floatformat:2 }}</td>
					</tr>
				{% endfor %}
			</tr>
		</tbody>				
    </table>
	<br>
	<div class="alert alert-primary" role="alert" style="font-weight: bold;">
		Total for this year: {{all_sumed}}
	</div>
{% include "_pagination.html" %}

<hr>
<table border="1">
  <caption>Summary per category</caption>
  <tr>
    {% for category, total in summary_per_category.items %}
	<tr>
		<td>{{category}}:</td>
		<td>{{total|floatformat:2}}</td>
		
		
	</tr>
	{% endfor %}
  </tr>
</table>
		
{% endblock %}
